.tab {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: visible;
  padding: 1em;
  column-fill: balance;
  column-rule: solid 1px #666;
  height: 100vh;
  overflow-y: auto;

  line-height: 1;
}

.tab-block {
  margin: 1em 1em 0 0;
  padding: 1em;
}

[data-bs-theme="light"] .tab-block {
  background-color: rgba(0, 0, 0, 0.05);
}

[data-bs-theme="dark"] .tab-block {
  background-color: rgba(255, 255, 255, 0.05);
}

.chord {
  font-size: 1.2em;
}

.tab-line {
  display: inline-block;
  width: 100%;
}

.container {
  max-width: 100% !important;
}

[data-bs-theme="light"] .chord {
  color: #083ac3;
}

[data-bs-theme="dark"] .chord {
  color: gold;
} 